.photo {
    width: 120px;
}
.block__photo {
    display: flex;
    flex-direction: column;
    width: 120px;
}
.item {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    padding: 15px 0;
    border-bottom: 2px solid #3d465e;
}
.paginator {
    position: fixed;
    bottom: 20px;
    left: 55%;
}
