.item a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
    display: inline-block;

}
.item a.active{
    color: #fff;
}
.item:hover{
    background-color: #31394c;
    border-radius: 0.2rem;
}

.awesome {
    display: inline-block;
    width: 30px;
}
.item {
    display: grid;
    padding: 10px 15px;
    vertical-align: center;
    min-width: 100%;

}