.error {
    color: red;
}
.errorBlock {
    border: 2px solid red
}
.textarea {
    border-radius: 0.2rem;
    padding: 0.2rem;
    width: 100%;
}
.input {
    border-radius: 0.2rem;
   padding: 0.2rem;
    outline: none;

}