.nav {
    grid-area: nav;
    padding-left: 15px;
    padding-top: 60px;
    min-width: 100%;
  }
.sidebar {
    margin-top: 30px;
}
@media (min-width: 640px) {
    .nav {
        padding-left: 30px;
        position: fixed;
        min-width: 270px;
        top: 90px;
        padding-top: 0;
    }

}