.error {
    color: red
}
.inputFile {
    position: absolute;
    z-index: -1;
}
.labelFile {
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    padding: 0.5rem 0;
    background: #3d465e;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);

}

.labelFile:hover{
    background: #2d354c;
}