.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsName{

}



.dialogsMessage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:10fr 3fr ;
    justify-content: space-between;

}

